@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
	scroll-behavior: smooth !important;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Remove Chrome autofill background & text color */

/* --------------------------
   LIGHT MODE (default)
--------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px #f2f4f3 inset !important;
	-webkit-text-fill-color: #6a7282 !important;
	transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill,
textarea:-moz-autofill {
	box-shadow: 0 0 0 1000px #f2f4f3 inset;
	-moz-text-fill-color: #6a7282;
}

/* --------------------------
   DARK MODE
--------------------------- */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px #27272a inset !important;
	-webkit-text-fill-color: #6a7282 !important; /* slate-200 */
	transition: background-color 5000s ease-in-out 0s;
}

.dark input:-moz-autofill,
.dark textarea:-moz-autofill {
	box-shadow: 0 0 0 1000px #27272a inset;
	-moz-text-fill-color: #6a7282;
}
